CASHIER_BASE_URL=http://127.0.0.1:9981
CASHIER_SERVER_IP=172.16.99.70
CASHIER_ACCOUNT=xmzg_yjb001
CASHIER_PASSWORD=123456

HEADLESS=true
BROWSER_CHANNEL=chrome
ACTION_TIMEOUT=10000
NAVIGATION_TIMEOUT=30000
